fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
python-dotenv
passlib[bcrypt]
bcrypt<4.1
python-jose[cryptography]
python-
numpy>=1.24
faiss-cpu>=1.8.0
sentence-transformers>=2.7.0
pandas
torch
transformers
scikit-learn
huggingface-hub